/*
  *= require_tree .
  *= require_self
*/

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

img.rounded-circle {
  border-radius: 50px;
}

//Background
.plain {
  background-color: #f2f2f2;
}

//Forms

.devise-forms {
  max-width: 480px;
  margin: 0 auto;
}

.form-buttons {
  text-align: center;
  margin: 0 auto;
}

.form-title {
  text-align: center;
}

// Navbar Styling
