// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.orange {
  background-color: #4267b2;
}

.sign-in-page {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.sign-in-container {
  width: 870px;
  margin: 0 auto;
}

.sign-in-content {
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

// right side
.sign-in-form {
  margin: 0 auto;
  padding: 3rem 5px 92px 5px;
  width: 70%;
}

.sign-in-description {
  margin: 0 auto;
  padding-left: 3rem;
}

.slash {
  border-left: 1px solid lightgrey;
}

.left-hand-form {
  margin: 0 auto;
  padding: 3rem 0rem;
  text-align: center;
}

.sign-in-image {
  padding-left: 1rem;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .sign-in-container {
    width: 100%;
    padding: 0 20px;
  }

  .left-hand-form {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .sign-in-description {
    margin-bottom: 0px;
  }

  .sign-in-form {
    width: 85%;
    padding: 30px 0;
  }

  .sign-in-image {
    img {
      display: none;
    }
  }

  .slash {
    border-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .sign-in-page {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .sign-in-form {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .sign-in-description {
    padding: 0 1rem;
    margin: 10px 10px;
  }
}
